{% extends 'user_profile/index.html' %}
{% load static %}
{% block content %}
  <div class="col-sm-12 main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>理财产品</h4>
      </div>
      <div class="panel-body">
{#        <div class="row">#}
{#          <div class="col-sm-3">#}
{#            <div class="input-group">#}
{#              <span class="input-group-addon">开始:</span>#}
{#              <input type="text" class="form-control" data-bind="value: sdate" placeholder="2016-03-12">#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-3">#}
{#            <div class="input-group">#}
{#              <span class="input-group-addon" >结束:</span>#}
{#              <input type="text" class="form-control" data-bind="value: edate" placeholder="2016-03-18">#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-2"><button class="btn btn-primary" data-bind="click: date_submit">提交</button></div>#}
{#        </div>#}

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>产品名称</th>
              <th>期限</th>
              <th>预计年化收益率</th>
              <th>起售金额</th>
              <th>购买渠道</th>
              <th>风险等级</th>
              <th>募集起始日</th>
              <th>募集到期日</th>
              <th>起息日</th>
              <th>到期日</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for k in financial_goods %}
            <tr>
              <td>{{ k.pname }}</td>
              <td>{{ k.days }}</td>
              <td>{{ k.profits }}</td>
              <td>{{ k.money }}</td>
              <td>{{ k.channel }}</td>
              <td>{{ k.risk }}</td>
              <td>{{ k.sdate }}</td>
              <td>{{ k.edate }}</td>
              <td>{{ k.intsdate }}</td>
              <td>{{ k.expdate }}</td>
              <td><a href="/user_profile/_tag_heat/{{ k.pcode }}/" class="btn btn-primary">推荐人群</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
          <div id="hotline" class="col-sm-12" style="height: 400px;"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jscontent %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static 'knockout/dist/knockout.js' %}"></script>
    <script src="{% static 'knockout-validation/dist/knockout.validation.min.js' %}"></script>
    <script src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.min.js' %}"></script>
    <script src="{% static 'echarts/dist/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript">
{#      var myChart = echarts.init(document.getElementById('hotbit'));#}
{#      myChart.showLoading();#}
      var hotline_chart = echarts.init(document.getElementById('hotline'));
      $.get('recently_hot').done(function (data){

      });

      hotline_chart.setOption({
        tooltip: {
          trigger: 'axis'
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:['蒸发量','降水量','平均温度']
        },
        xAxis: [
            {
                type: 'category',
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '水量',
                min: 0,
                max: 250,
                interval: 50,
                axisLabel: {
                    formatter: '{value} ml'
                }
            },
            {
                type: 'value',
                name: '温度',
                min: 0,
                max: 25,
                interval: 5,
                axisLabel: {
                    formatter: '{value} °C'
                }
            }
        ],
        series: [
            {
                name:'蒸发量',
                type:'bar',
                data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            }
        ]
      });

      var viewModel = {
        sdate: ko.observable(),
        edate: ko.observable(),
        date_submit: function(e){
          var self = this;
          $.post('recently_hot',
            {
              'sdate': self.sdate(),
              'edate': self.edate()
            },
            function(data){
              myChart.setOption({
                tooltip: {
                  position: 'top'
                },
                animation: false,
                xAxis: {
                  type: 'category',
                  data: data.words
                },
                yAxis: {
                  type: 'category',
                  data: data.ds
                },
                visualMap: {
                  min: 1,
                  max: 10,
                  calculable: true,
                  orient: 'horizontal',
                  left: 'center',

                },
                series: [{
                  name: '标签卡',
                  type: 'heatmap',
                  data: data.data.map(function (item) {
                    return [item[1], item[0], item[2] || '-'];
                  }),
                  label: {
                    normal: {
                      show: true
                    }
                  },
                  itemStyle: {
                    emphasis: {
                      shadowBlur: 10,
                      shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                  }
                }]
              });
            }, 'json');
        }
      };

      $("input.typeahead").typeahead({
        source: function (query, process) {
          return $.post('tag_search/', {'word': query}, function (data) {
            return process(data.data);
          })
        }
      });

      ko.applyBindings(viewModel);
    </script>
{% endblock %}