<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>中国银行大数据查询系统</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'boc/css/buttons.dataTables.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>{#<script src="{% static 'boc/js/ie8-responsive-file-warning.js' %}"></script>#}<![endif]-->
    <script src="{% static 'boc/js/ie-emulation-modes-warning.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'html5shiv/dist/html5shiv.min.js' %}"></script>
      <script src={% static 'respond/dest/respond.min.js' %}"></script>
    <![endif]-->
    <link href="{% static 'boc/css/custom.css' %}" rel="stylesheet">
</head>

<body>

<div class="container">
    <ul class="nav nav-pills">
        {% for cate, subcates in cates_stack %}
            <li role="presentation" class="dropdown {% if cate == '对私查询' %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ cate }} {% if subcates|length > 0 %}<span class="caret">{% endif %}</a>
                {% if subcates|length > 0 %}
                <ul class="dropdown-menu">
                    {% for name, id in subcates %}
                        <li><a href="/boc/query/{{id}}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<!-- 证件号码，客户名称，客户号，账号，卡号 -->
<div style="background: #f8f8f8; padding-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <div class="panel panel-default" style="padding:5px;">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="query">客户信息查询</a></li>
                        <li role="presentation"><a href="#">账户信息查询</a></li>
                        <li role="presentation" class="active"><a href="#">交易查询</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10" id="search-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{current_cate_name}}</h3>
                    </div>
                    <div class="panel-body">
                        <form data-bind="submit: query">
                            {% for k, v in conditions %}
                            {% cycle '<div class="row">' ''  %}
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <div class="form-group padding-bottom-10">
                                            <label class="control-label">{{ v.name }}:</label>
                                            {% if v.type == 'text' %}
                                                <input type="text" class="form-control" id="{{ k }}" data-bind="value: {{ k }}" placeholder="{{ v.name }}">
                                            {% elif v.type == 1 %}
                                                <input type="text" class="form-control" id="{{ k }}_begin" data-bind="value: {{ k }}_begin" placeholder="开始日期"> -
                                                <input type="text" class="form-control" id="{{ k }}_end" data-bind="value: {{ k }}_end" placeholder="结束日期">
                                            {% elif v.type == 0 %}
                                                <input type="text" class="form-control" id="{{ k }}" data-bind="value: {{ k }}" placeholder="日期">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% cycle '' '</div>' %}
                            {% endfor %}

                            <div class="row">
                                <div class="col-md-offset-8 col-md-4">
                                    <button type="submit" class="btn btn-primary pull-right" data-bind="text: queryText, css: cssDisable">
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="panel-body" style="padding:10px; border-top:1px solid #ddd;">
                        <table id="table" class="display" style="width:100%; white-space:nowrap;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
{#<script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>#}
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'knockout/dist/knockout.js' %}"></script>
<script src="{% static 'knockout-validation/dist/knockout.validation.min.js' %}"></script>

<script language="javascript">
    var t = $('#table').dataTable({
        'columns': [
            {'data': 'fd_id_no_new', 'title': '证件号'},
            {'data': 'fd_cus_name', 'title': '姓名'},
            {'data': 'dtbl_act_no', 'title': '旧线交易账号'},
            {'data': 'fd_new_no', 'title': '对应新线账号'},
            {'data': 'dtbl_txn_date', 'title': '交易日期'},
            {'data': 'dtbl_proc_seq', 'title': '交易序号'},
            {'data': 'dtbl_cuu_code', 'title': '交易货币'},
            {'data': 'dtbl_txn_sdn', 'title': '交易网点号'},
            {'data': 'dtbl_txn_trm', 'title': '交易终端'},
            {'data': 'dtbl_txn_code', 'title': '交易代码'},
            {'data': 'dtbl_db_cr', 'title': '借贷别'},
            {'data': 'dtbl_txn_amt', 'title': '交易金额'},
            {'data': 'dtbl_new_bal', 'title': '账户余额'}
        ],
        "language": {
            "url": "{% static 'boc/js/language.zh-cn.json' %}"
        },
        'columnDefs':[],
        'pageLength': 30,
        'scrollX': true,
        'scrollY': "900px",
        'scrollCollapse': true,
        'dom': 'Bfrtip',
        'buttons': [
            {
                text: "<div class='excel_export' id='excel_1'>导出Excel</div>",
                action: function (e, dt, button, config) {

                }
            },
            {
                extend: 'print',
                text: '打印'
            }
        ]
    });


    $("#date_begin").datepicker({//添加日期选择功能
        numberOfMonths: 1,//显示几个月
        showButtonPanel: true,//是否显示按钮面板
        dateFormat: 'yy-mm-dd',//日期格式
        clearText: "清除",//清除日期的按钮名称
        closeText: "关闭",//关闭选择框的按钮名称
        yearSuffix: '年', //年的后缀
        minDate: '2003-01-01',
        maxDate: '2008-03-31',
        currentText: '今天',
        showMonthAfterYear: true,//是否把月放在年的后面
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
        dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
        dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
    });
    $("#date_end").datepicker({//添加日期选择功能
        numberOfMonths: 1,//显示几个月
        showButtonPanel: true,//是否显示按钮面板
        dateFormat: 'yy-mm-dd',//日期格式
        minDate: '2003-01-01',
        maxDate: '2008-12-31',
        clearText: "清除",//清除日期的按钮名称
        closeText: "关闭",//关闭选择框的按钮名称
        currentText: "今天",
        yearSuffix: '年', //年的后缀
        showMonthAfterYear: true,//是否把月放在年的后面
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
        dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
        dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
    });

    var viewModel = {
        queryText : ko.observable("查询"),
        cssDisable : ko.pureComputed({
            read: function(){
                return viewModel.errors().length > 0 ? 'disabled':'';
            },
            write: function(value){
                return value;
            }
        }),
        {% for k, v in conditions %}
            {% if v.required %}
                {{ k }} : ko.observable("").extend({
                    required: {
                        message: ' 必填字段'
                    }
                }),
            {% elif v.type == 1 %}
                {{ k }}_begin : ko.observable(""),
                {{ k }}_end : ko.observable(""),
            {% else %}
                {{ k }} : ko.observable(""),
            {% endif %}
        {% endfor %}

        query : function(){
            var self = this;
            var btime = new Date();
            if( viewModel.errors().length > 0 ){
                return;
            }
            self.queryText("查询中...");
            self.cssDisable("disabled");
            t.fnClearTable();
            t.fnDraw();
            $(".dataTables_empty").text("查询中,请稍等..."); //在查询时替换空结果语句
            $.post('/get_hive',
                    {
                        'a.fd_id_no_new': self.cred_num(),
                        'a.fd_cus_name': self.custom_name(),
                        'date_begin': self.date_begin(),
                        'date_end': self.date_end(),
                    },
                    function (data) {
                        self.queryText("查询");
                        self.cssDisable("");
                        t.fnClearTable();
                        $(".excel_export").parent().parent().click(function(){
                            $("#my_iframe").attr('src', "/static/" + data.excel_id);
                        });
                        if (data.data.length > 0) {
                            t.fnAddData(data.data);
                        }
                        t.fnDraw();
 			            var info = $(".dataTables_info").text();
			            $(".dataTables_info").text(info + ', 共耗时: ' + (new Date()-btime)/1000 + '秒')
                    },
                    'json'
            );
        }
    };

    viewModel.errors = ko.validation.group(viewModel);

    viewModel.requireLocation = function() {
        viewModel.location.extend({required: true});
    };

    ko.applyBindings(viewModel);
</script>
<iframe id="my_iframe" style="display:none;"></iframe>
</body>
</html>
